.smart-replay {
    height: 8px;
    text-align: center;
    z-index: 5;
    position: relative;
    bottom: 20px;
}

.smart-replay button {
    background: #30303080;
    color: #eee;
    margin: 5px 5px;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
}

.add-smart-replay {
    background-color: #00d9bb !important;
    padding-bottom: 8px !important;
    fill: #EEEEEE;
}

/* ---------- Modal ---------- */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 101; /* Sit on top */

    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* Full height */
    background-color: var(--modal-backdrop);

    /* Effects */
    transform: none;
    transition: all 0s ease 0s;
    outline-offset: 0;
    box-sizing: border-box;
    resize: none;
    text-shadow: none;
    text-overflow: clip;
    word-wrap: normal;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 17px 50px 0px, rgba(0, 0, 0, 0.24) 0px 12px 15px 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}


._3NCh_ {
    z-index: 101;
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    flex-direction: column;
    overflow: hidden;
    margin:25%
}

._3B-ht {
    position: relative;
    flex: 1 1 100%;
    overflow-wrap: break-word;
    /*white-space: normal;*/
}

._1ENRV {
    font-size: 20px;
    font-weight: 400;
}

._3SRfO {
    font-size: 14px;
    line-height: 20px;
}

._3SRfO input {
    margin: 5px;
    height: 25px;
    width: 335px;
}

._1uJw_ {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    overflow: hidden;
    /*white-space: nowrap;*/
}

._1dwBj2 {
    display: inline-block;
    line-height: normal;
    /*white-space: pre-wrap;*/
}

._3Pd9_, ._2EcSg, ._3xWLK, ._1BFEX {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    transition: box-shadow 0.18s ease-out 0s, background 0.18s ease-out 0s, color 0.18s ease-out 0s;
}

._3Pd9_ {
    color: var(--button-secondary);
}

._3Pd9_:hover {
    color: var(--button-secondary-hover);
}

._3NCXc {
    display: flex;
    min-width: 0px;
    min-height: 0px;
}

._FUG3 {
    flex-direction: row;
}

._1Yw2u {
    justify-content: center;
}

._2HGw4 {
    align-items: center;
}

.VtaVl {
    flex: 0 1 auto;
    order: 0;
    min-width: 0px;
    min-height: 0px;
}

.-TvKO {
    align-self: auto;
}

._3xWLK {
    color: var(--button-primary);
}
/* ---------- End Modal ---------- */