.smart-replay {
    height: 8px;
    text-align: center;
    z-index: 5;
    position: relative;
    bottom: 20px;
}

.smart-replay button {
    background: #30303080;
    color: #eee;
    margin: 5px 5px;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
}

.add-smart-replay {
    background-color: #00d9bb !important;
    padding-bottom: 8px !important;
    fill: #EEEEEE;
}

/* ---------- Modal ---------- */

/* ---------- End Modal ---------- */